.loginContainer {
    background: #e91e63;
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    min-height: 768px;
    height: 96vh;
}

.main-bg {
    background: #e91e63 !important;
}

.signup-box {
    width: 500px;
    max-width: 500px;
}

input:focus, button:focus {
    border: 1px solid #e91e63 !important;
    box-shadow: none !important;
}

.card, .btn, input {
    border-radius: 0 !important;
}
